<!DOCTYPE html>
<html>
<head>
	<title>Second HTML page</title>
	<link rel="icon" href="/weather.png">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div class="main-content"> 
	<h1>{{title}} will be telling us {{subject}}</h1>
	{{>header}}
	<img class = "portrait" src="./pic.jpg">
	</div>
	{{>footer}}
</body>
</html>