<!DOCTYPE html>
<html>
<head>
	<title>Error page</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
	<h1>{{name}}</h1>
	{{>header}}
	<p>{{msg}}</p>
	</div>
	{{>footer}}
</body>
</html>